body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.my-footer {
	padding-top: 0;
}

.my-nav__header {
	padding: 0 20px;
}

.content {
	min-height: calc(100vh - 64px - 50px);
}

.movies {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;

	/* display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem; */
}

/* .my-card {
	flex: 0 0 calc(33.33% - 20px);
} */

.my-movie__type {
	text-transform: capitalize;
}

.my-search__button {
	position: absolute;
	top: 0;
	right: 0;
}

.mr2:not(:last-child) {
	margin-right: 1rem;
}
